[DEFAULT]
trigger: !
git_login: gituser
git_token: 012abc...

[Rizon]
server: irc.rizon.net
nick: rbot
user: rbot
ssl: true
nickserv: identify_password
autoconnect: true
roman: ja

[Rizon #raylu]
autojoin: true

[Rizon #vn-meta]
autojoin: false
